<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<nlog>
		<targets>
			<target name="file"
					xsi:type="File"
					fileName="logs/${shortdate}.log"
					layout="${longdate}|${level}|${message}|${exception}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="file" />
		</rules>
	</nlog>
</configuration>